.app {
  &__header {
    &__container {
      height: var(--header-height);
      align-items: center;
      margin-right: 10px;
      margin-top: -20px;
      position: fixed;
      right: 0;
    }
    &__user-full-name {
      font-weight: 600;
      font-family: 'titlecommerce';
      margin-right: 10px;
      @media (max-width: 576px) {
        display: none;
      }
    }
  }
}
